<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar loginUser=loginUser}}
    <section class="container-fluid">

        <div class="container">
            <form action="/searchFood" method="post">
                <div class="row search-panel">
                    <div class="col-md-5 offset-md-3 mt-1">
                        <input value="{{searchKey}}" placeholder="Search food here"
                            class="form-control" type="text" name="foodSearch" id="">
                    </div>
                    <div class="col-md-1 text-center mt-1">
                        <button type="submit" class="white-btn2">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container">
            <div class="row my-2">
                {{#each foods}}
                <div class="col-md-4 my-5">
                    <div class="card ">

                        <img style="height:210px" src="/static/image/seedImg/{{this.photo}}" class="img-fluid mb-2" alt="">

                        <h4>{{this.dname}}</h4>

                        <p class="text-color">Time : {{this.dtime}} Minutes | Serve {{this.dserve}}</p>
                        
                        <h2 class="primary-color mb-3"> <i class="fa fa-inr"></i>{{this.dprice}} </h2>
                        <div>
                            <button onclick="addFoodToBasket('{{this._id}}','{{this.dname}}','{{this.dprice}}','{{this.photo}}' )" class="main-btn">Add To Basket</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

            <nav aria-label="Page navigation example " class="mt-3 mb-5">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="page-link {{#ifprev currentPage}}{{/ifprev}}" href="/foods/{{#prevPage currentPage}}{{/prevPage}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {{#times count}}
                    <li class="page-item"><a class="page-link" href="/foods/{{this}}">{{this}}</a></li>
                    {{/times}}

                    <li class="page-item">
                        <a class="page-link {{#ifnext currentPage count}}{{/ifnext}}" href="/foods/{{#nextPage currentPage}}{{/nextPage}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</body>
</html>

